body {
    grid-template:
        "header header"
        "addrecipe user"
        "recipes recipes"
        "footer footer" / auto auto;
    grid-gap: 1rem;
}

@media (max-aspect-ratio: 1/1) {
    body {
        grid-template:
            "header"
            "user"
            "addrecipe"
            "recipes"
            "footer" / auto;
    }
}

    body > h1 {
        grid-area: header;
        font-size: 3rem;
        font-weight: 900;
    }


.ui {
    grid-auto-flow: column;
    grid-auto-columns: auto;
    place-self: start;
    place-items: start;
    grid-gap: 0.5rem;
}

.user {
    grid-area: user;
    justify-self: end;
}

.addrecipe {
    grid-area: addrecipe;
    justify-self: stretch;
    justify-items: stretch;
    grid-template-columns: 1fr auto;
}

.recipes {
    grid-area: recipes;
}

body > footer {
    grid-area: footer;
    margin-top: 5rem;
    margin-bottom: 2rem;
    place-self: center center;
    text-align: center;
}

    body > footer p {
        color: var(--light, rgba(160, 160, 160, 0.8)) var(--dark, rgba(90, 90, 90, 0.8));
    }

        body > footer p, body > footer p * {
            display: inline;
        }

            body > footer p * {
                color: var(--dark, rgba(160, 160, 160, 1)) var(--light, rgba(90, 90, 90, 1));
                font-weight: 500;
            }

section.recipes {
    grid-template-columns: repeat(auto-fill, minmax(15rem, max-content));
    grid-gap: 1rem;
    grid-auto-flow: row dense;
}

.recipe {
    background-position: center;
    background-size: cover;
    display: grid;
    min-height: 15rem;
    align-items: end;
    font-size: 0.8rem;
    line-height: 1rem;
    transition: transform linear 0.2s;
}

    .recipe:hover {
        transform: scale(1.02, 1.02);
    }

    .recipe footer {
        background: var(--light, rgba(220, 220, 220, 0.8)) var(--dark, rgba(30, 30, 30, 0.8));
        grid-gap: 0.25rem;
        padding: 0 0.25rem;
    }

    .recipe h3 {
        font-size: 1.5rem;
        margin-top: 0.25rem;
        line-height: 1.5rem;
        font-weight: 900;
        text-overflow: ellipsis;
    }

    .recipe aside {
        font-style: italic;
        font-size: 0.8rem;
        line-height: 1rem;
        opacity: 0.7;
    }

    .recipe p {
        opacity: 1;
        font-weight: 500;
    }

form input, form button {
    padding: 0 0.25rem;
    background: grey;
    text-align: center;
}
